body {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 15px;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

a, a:visited {
  color: #339DD7;
}

a:hover {
  color: #f00;
}

.contact-button, .contact-button:visited {
  float: right;
  color: #fff;
  background-color: #339DD7;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 1em
}

.contact-button:hover {
  color: #fff;
  text-decoration: none;
}

.explanation {
  font-size: 13px;
}

.jumbotron {
  color: #fff;
}

.jumbotron h1 {
  font-size: 46px;
  line-height: 1;
  font-style: italic;
}

.jumbotron .emph:after {
  content: " |";
  font-style: normal;
}

.jumbotron p {
  font-size: 18px;
}

.lead {
  font-size: 14px;
}

.quote {
  margin: 3em 0 1em;
  padding: 0;
  color: #339DD7;
  border-left: 0 solid #fff;
  quotes: '\201E' '\201C';
  font-family: 'Fauna One', serif;
}

.quote2 {
  padding: 0 15px 0 0;
  margin: 2em 0 3em;
  color: #339DD7;
  border-left: 0 solid #fff;
  font-family: 'Fauna One', serif;
  font-size: 15px;
  text-align: right;
}

.quote p, .quote small {
  font-size: 20px;
  padding: 0 40px 0 40px;
}

.quote small {
  font-size: 18px;
  color: #555;
}

.quote small:before {
  content: '';
}

.quote:before {
  content: open-quote;
  font-size:6em;
  line-height:.1em;
  margin-right:.25em;
}

.quote:after {
  content: close-quote;
  font-size:6em;
  line-height:.1em;
  margin-right:0.25em;
  float: right;
}

.section {
  margin-bottom: 2em;
}

.section h3 {
  font-size: 22.5px;
  margin-bottom: 0;
  background-color: #339DD7;
  display: inline-block;
  padding: 3px 15px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1.3px;
  /*top: 3px;*/
}

.section-example {
  margin-bottom: 2em;
}

.section-example p {
  margin: 1em 0 1em;
}

.section-example h4 {
  padding-left: 38px;
  text-transform: uppercase;
}

.more-part {
  background: #fff;
}

.more-link {
  display: block;
  background: url('/img/mehr-09.png') 50% 50% no-repeat;
  height: 3em;
  margin: 0 auto;
}

.modal-header {
  background-color: #2980b9;
  color: #fff;
  text-transform: uppercase;
}

.modal-header h3 {
  text-align: center;
}

.modal-image {
  margin: 1em 0 1em;
  text-align: center;
}


.section-example .thumbnail {
  background-color: #339DD7;
  color: #fff;
  padding: 0 10px 0;
}

.inside {
  background-color: #fff;
  color: #555;
  padding: 10px 15px;
}

.read-more {
  text-transform: uppercase;
}

.contact {
  background-color: #339DD7;
  color: #fff;
}

.contact a, .contact a:visited {
  color: #fff;
}

.contact a:hover {
  color: #fff;
}

.email-section {
  background: #fff url('/img/brief-08.png') 10px 10px no-repeat;
  padding: 10px 10px 10px 120px;
}

.email-section .email-input {
  background-color: #339DD7;
  color: #fff;
}

.email-section .email-input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #eee;
}
.email-section .email-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #eee;
}
.email-section .email-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #eee;
}
.email-section .email-input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #eee;
}

.email-field {
  padding-top: 22px;
}

.footer a:hover {
  text-decoration:none;
}

.footer {
  text-align:left;
  margin-bottom:0.5em;
  padding-top: 10px;
}